# Ignore content and output directories
# as they are created automatically
pelican/content
pelican/output

# Ignore XCF files
*.xcf

# Ignore book sources
sources

# Ignore the deploy directory
deploy
